<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
</head>
<body style="background-image : url('https://images.freeimages.com/images/large-previews/a3b/website-rays-background-pattern-1637863.png');">

<a href="/" target="_self">หน้าแรก</a>
<br>
<a href="/course" target="_slef">รายวิชา</a>
<br>

{% if user.is_authenticated %}


<a a href="{% url 'logout' %}" target="_self">ออกจากระบบ</a>
<br>

 
<ul>
  <li>Username : {{ request.user.username }}</li>
  <li>Email : {{ request.user.email }}</li>
</ul>



{% else %}

<a href="/loginPage" target="_self">ล็อคอิน</a>
<br>


{%endif%}
{% block content %}

{% endblock %}

</body>
</html>